<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to BENTO, <%= "#{@user.first_name} #{@user.last_name}" %></h1>
    <p>
      Here are the things you missed!
    </p>
    
    <h3>Articles might interest you</h3>
    <%= link_to @user.articles.last.title, @user.articles.last.link %><br>
    <h3>Podcast that might interest you</h3>
    <%= link_to @user.podcasts.last.title, @user.podcasts.last.link %><br>
    <h3>Try this project</h3>
    <p><strong><%= @user.projects.last.title %></strong> <%= @user.projects.last.description %></p><br>

    <p>
    From,<br>
    The <strong>BENTO</strong> team
    </p>
  </body>
</html>