<div class="form-group">
  <div class="text-field">
    <div class="form-row">
        <div class="col">
            <%= edit_info.label :first_name %>
            <%= edit_info.text_field :first_name, class:'form-control', placeholder:'First Name' %>
        </div>
        <br/>
        <div class="col">
            <%= edit_info.label :last_name %>
            <%= edit_info.text_field :last_name, class:'form-control', placeholder:'Last Name' %>
        <br/>
        </div>
    </div>
    <%= edit_info.label :email %>
    <%= edit_info.text_field :email, class:'form-control', placeholder:'Enter your email here'  %>
    <br/>
    <%= edit_info.label :avatar %>
    <br/>
    <%= edit_info.file_field :avatar, class: 'w-100' %>
  </div>
</div>