<div class="text-field">
  <%= edit_info.label :first_name %>
  <%= edit_info.text_field :first_name %>
  <br/>
  <%= edit_info.label :last_name %>
  <%= edit_info.text_field :last_name %>
  <br/>
  <%= edit_info.label :email %>
  <%= edit_info.text_field :email, type: 'email' %>
</div>
