
<div class="container d-md-flex flex-row justify-content-around">
  <div class="m-2">
    <h5>Do you know the situation?<br><span style="font-weight: bold;"> Change it!</span><br>Sign up into our Bento!</h5>
    <img src="http://1.bp.blogspot.com/-LKKJSDcnA5Y/UFokf-p9vhI/AAAAAAAAVaQ/QwSWElPclHM/s1600/imgres-12.jpeg" class="rounded-circle p-2">
  </div>
    <div class="">
      <form>
        <div class="form-row">
          <div class="col">
              <%= form.label :first_name %>
              <%= form.text_field :first_name, class:'form-control', placeholder:'First Name' %>
          </div>
          <div class="col">
            <%= form.label :last_name %>
            <%= form.text_field :last_name, class:'form-control', placeholder:'Last Name' %>
          </div>
        </div>
        <div>
            <%= form.label :email %>
            <%= form.text_field :email, type: 'email', class:'form-control', placeholder:'Enter your email here' %>
        </div>
        <div class="password-field">
            <%= form.label :password %>
            <%= form.password_field :password, class:'form-control', placeholder:'Enter password here' %>
        </div>
      </form>

      <div class="other-links p-4">
        <div class="submit-field float-right ">
           <%= form.submit 'Sign up', class:'btn btn-primary' %>
        </div>
        <%= link_to t(".log_in"), root_path, class:'btn btn-outline-primary bg-white' %>
      </div>
    </form>
  </div>
</div>