
<div class="container d-md-flex flex-row justify-content-around">
  <div class="m-2">
    <h5>Do you know the situation?<br><span style="font-weight: bold;"> Change it!</span><br>Sign up into our Bento!</h5>
    <img src="http://1.bp.blogspot.com/-LKKJSDcnA5Y/UFokf-p9vhI/AAAAAAAAVaQ/QwSWElPclHM/s1600/imgres-12.jpeg" class="rounded-circle">
  </div>
  <div class="">

    <div class="m-2">
      <form>
        <div class="form-row">
          <div class="col">
              <%= form.label :first_name %>
              <%= form.text_field :first_name, class:'form-control' %>
          </div>
          <div class="col">
            <%= form.label :last_name %>
            <%= form.text_field :last_name, class:'form-control' %>
          </div>
        </div>
        <div>
            <%= form.label :email %>
            <%= form.text_field :email, type: 'email', class:'form-control' %>
        </div>
        <div class="password-field">
            <%= form.label :password %>
            <%= form.password_field :password, class:'form-control' %>
        </div>
      </form>
      <div class="submit-field m-4 float-right ">
        <%= form.submit 'Sign up', class:'btn btn-primary' %>
      </div>
        <div class="other-links m-4 ">
        <%= link_to t(".log_in"), root_path %>
      </div>

      <button>Submit</button>
    </form>

  </div>
</div>