<div class="preferences-form p-3">
    <div class="text-field">
        <%# Select language and skill level %>
        <%= label_tag("Choose your language and skill level") %>
        <div class="input-group mb-3">
            <%= button_to "Ruby", action='#', class:'ruby btn btn-outline-success'%>
            <%= button_to "Beginner", action='#', class:'ruby-beginner btn btn-outline-info'%>
            <%= button_to "Intermediate", action='#', class:'ruby-intermediate btn btn-outline-info'%>
        </div>
        <div class="input-group mb-3">
            <%= button_to "Javascript", action='#', class:'btn btn-outline-success'%>
            <%= button_to "Beginner", action='#', class:'js-beginner btn btn-outline-info'%>
            <%= button_to "Intermediate", action='#', class:'js-intermediate btn btn-outline-info'%>
        </div>
        </br>
        <%# Select developer type %>
        <%= label_tag("What kind of developer are you?")%>
        <br/>
        <div class="input-group mb-3">
            <%= button_to "Front-End", action='#', class:'front-end btn btn-outline-success' %>
            <%= button_to "Back-End", action='#', class:'back-end btn btn-outline-success' %>
            <%= button_to "Full-Stack", action='#', class:'full-stack btn btn-outline-success' %>
            <%= button_to "Mobile", action='#', class:'mobile btn btn-outline-success' %>
        </div>
        <br/>
        <%# Select developer type %>
        <%= label_tag("What's your current interest?")%>
        <br/>
        <div class="input-group mb-3">
            <%= button_to "Progressive Web Apps", action='#', class:'pgw btn btn-outline-success' %>
            <%= button_to "Chatbot", action='#', class:'chatbot btn btn-outline-success' %>
            <%= button_to "Cybersecurity", action='#', class:'cybersecurity btn btn-outline-success' %>
            <%= button_to "Motion UI", action='#', class:'motionui btn btn-outline-success' %>
        </div>
    </div>
</div>