<div class="preferences-form p-3">
    <div class="text-field">
        <%# Select language and skill level %>
        <%# ––––––––––––––– Ruby –––––––––––––– %>
        <%= label_tag("Choose your language and skill level") %>
        <div class="input-group mb-3">
            <button type='button' class='ruby btn btn-success active'>Ruby</button>
            <%#= button_to "Ruby", action='#', class:'ruby btn btn-outline-success', :disabled => true %>
            <%= button_to "Beginner", action='#', class:'ruby-beginner btn btn-info'%>
            <%= button_to "Intermediate", action='#', class:'ruby-intermediate btn btn-info btn-info'%>
            <%= button_to "Clear", action='#', class:'ruby-clear btn btn-danger'%>
        </div>
            <%# Check to see if user has already selected a language %>
            <% if current_user.user_languages_skill['ruby'] == 'beginner' %>
              <script>
                    $('.ruby-beginner').addClass('active');
              </script>
            <% elsif current_user.user_languages_skill['ruby'] == 'intermediate' %>
              <script>
                    $('.ruby-intermediate').addClass('active');
              </script>
            <% end %>
        
        <%# ––––––––––––––– Javascript –––––––––––––– %>
        <div class="input-group mb-3">
            <button type='button' class='ruby btn btn-success active'>Javascript</button>
            <%#= button_to "Javascript", action='#', class:'javascript btn btn-outline-success',:disabled => true %>
            <%= button_to "Beginner", action='#', class:'javascript-beginner btn btn-info'%>
            <%= button_to "Intermediate", action='#', class:'javascript-intermediate btn btn-info'%>
            <%= button_to "Clear", action='#', class:'javascript-clear btn btn-danger'%>
        </div>
        <%# Check to see if user has alread selected Javascript %>
        <% if current_user.user_languages_skill['javascript'] == 'beginner' %>
          <script>
                $('.javascript-beginner').addClass('active');
          </script>
        <% elsif current_user.user_languages_skill['javascript'] == 'intermediate' %>
          <script>
                $('.javascript-intermediate').addClass('active');
          </script>
        <% end %>
        <%# ––––––––––––––– Python –––––––––––––– %>
        <div class="input-group mb-3">
        <button type='button' class='ruby btn btn-success active'>Python</button>
        <%#= button_to "Python", action='#', class:'python btn btn-outline-success',:disabled => true %>
        <%= button_to "Beginner", action='#', class:'python-beginner btn btn-info'%>
        <%= button_to "Intermediate", action='#', class:'python-intermediate btn btn-info'%>
        <%= button_to "Clear", action='#', class:'python-clear btn btn-danger'%>
        <%# Check to see if user has alread selected Ruby %>
        </div>
        <% if current_user.user_languages_skill['python'] == 'beginner' %>
          <script>
                $('.python-beginner').addClass('active');
          </script>
        <% elsif current_user.user_languages_skill['python'] == 'intermediate' %>
          <script>
                $('.python-intermediate').addClass('active');
          </script>
        <% end %>
        
        <br/>
        <%# Select developer type %>
        <%= label_tag("What kind of developer are you?")%>
        <br/>
        <div class="input-group mb-3">
            <%= button_to "Front-End", action='#', class:'front-end btn btn-success' %>
            <%= button_to "Back-End", action='#', class:'back-end btn btn-success' %>
            <%= button_to "Full-Stack", action='#', class:'full-stack btn btn-success' %>
            <%= button_to "Mobile", action='#', class:'mobile btn btn-success' %>
        </div>
        <%# Check to see if user has already selected developer type %>
        <% if current_user.developer_type.include?("front end") %>
            <script>
                $(".front-end").addClass('active');
            </script>  
        <% else %>
            <script>
                $(".front-end").removeClass('active');
            </script>
        <% end %>
        <% if current_user.developer_type.include?("back end") %>
            <script>
                $(".back-end").addClass('active');
            </script>
        <% end %>
        <% if current_user.developer_type.include?("full stack") %>
            <script>
                $(".full-stack").addClass('active');
            </script>
        <% end %>
        <% if current_user.developer_type.include?("mobile") %>
            <script>
                $(".mobile").addClass('active');
            </script>
        <% end %>
        <br/>
        <%# Select developer type %>
        <%= label_tag("What's your current interest?")%>
        <br/>
        <div class="input-group mb-3">
            <%= button_to "Progressive Web Apps", action='#', class:'pgw btn btn-success' %>
            <%= button_to "Chatbot", action='#', class:'chatbot btn btn-success' %>
            <%= button_to "Cybersecurity", action='#', class:'cybersecurity btn btn-success' %>
            <%= button_to "Motion UI", action='#', class:'motionui btn btn-success' %>
        </div>
        <%# Check to see if user has already selected interest %>
        <% if current_user.interest.include?("progressive web apps") %>
            <script>
                $(".pgw").addClass('active');
            </script>  
        <% end %>
        <% if current_user.interest.include?("chatbot") %>
            <script>
                $(".chatbot").addClass('active');
            </script>
        <% end %>
        <% if current_user.interest.include?("cybersecurity") %>
            <script>
                $(".cybersecurity").addClass('active');
            </script>
        <% end %>
        <% if current_user.interest.include?("motion ui") %>
            <script>
                $(".motionui").addClass('active');
            </script>
        <% end %>
    </div>
</div>