<div class="preferences-form">
    <div class="text-field">
        <%= preferences.label :programming_level %>
        <br/>
        <%# Select programming level %>
        <div class="input-group mb-3">
            <%= button_to "Beginner", action= '#', class:'btn btn-outline-success', id:'beginner' %>
            <%= button_to "Intermediate", action='#', class:'btn btn-outline-success', id:'intermediate' %>
        </div>
        <br/>
        <%# Select programming languages %>
        <%= label_tag("Which of these languages do you use?")%>
        <br/>
        <div class="input-group mb-3">
            <%= button_to "Ruby", action='#', class:'btn btn-outline-success' %>
            <%= button_to "Python", action='#', class:'btn btn-outline-success' %>
            <%= button_to "JavaScript", action='#', class:'btn btn-outline-success' %>
            <%= button_to "Objective-C", action='#', class:'btn btn-outline-success' %>
        </div>
        <br/>
        <%# Select developer type %>
        <%= label_tag("What kind of developer are you?")%>
        <br/>
        <div class="input-group mb-3">
            <%= button_to "Front-End", action='#', class:'btn btn-outline-success' %>
            <%= button_to "Back-End", action='#', class:'btn btn-outline-success' %>
            <%= button_to "Full-Stack", action='#', class:'btn btn-outline-success' %>
            <%= button_to "Mobile", action='#', class:'btn btn-outline-success' %>
        </div>
        <br/>
        <%# Select developer type %>
        <%= label_tag("What's your current interest?")%>
        <br/>
        <div class="input-group mb-3">
            <%= button_to "Progressive Web Apps", action='#', class:'btn btn-outline-success' %>
            <%= button_to "Chatbot", action='#', class:'btn btn-outline-success' %>
            <%= button_to "Cybersecurity", action='#', class:'btn btn-outline-success' %>
            <%= button_to "Motion UI", action='#', class:'btn btn-outline-success' %>
        </div>
    </div>
</div>