<div id="edit-container">
    <div class="edit-info-container">
        <div class="form-row w-100 m-0 p-0">
            <div class="col p-3">
                <div class="d-flex justify-content-center">
                    <%= image_tag current_user.avatar.show.url, class: 'avatar-big mb-3 border-danger' %>
                </div>
                <h3 class="text-center"><span style="font-weight: bold;"><%= @user.first_name%>'s </span> information</h3>
                    <%= form_with model: @user,class: :"w-100 p-2", local: true do |form| %>
                        <%= render partial: '/users/edit_info', object: form %>
                        <%#= form.label :programming_level %>
                        <div class="submit-field d-flex justify-content-center">
                            <%= form.submit class: 'btn btn-danger bg-mutted'%>
                        </div>
                    <% end %>
            </div>
            <div class="col p-3">
                <div class="edit-preferences-container">
                    <h3 class="text-center">Preferences</h3>
                    <%= form_with model: @user, local: true do |form| %>
                        <%= render partial: '/users/preferences', object: form %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
// ––––––––––––– AJAX to set users programming_level –––––––––––––
$(document).ready(function(){
    // –––––––––––– Ruby –––––––––––––-
    $(".ruby-beginner").click((e) => {
        e.preventDefault()
        console.log(e.target.value);
        $.ajax({
            url: '/user/<%= current_user.id %>/update_language_skill',
            method: "POST",
            dataType: "JSON",
            data: {programming_level: 'ruby beginner'},
            success: (result) => {
                console.log(result)
                $('.ruby-beginner').addClass('active');
                $('.ruby-intermediate').removeClass('active');
                $('.ruby').addClass('active');
            }
        })
    })
    $(".ruby-intermediate").click((e) => {
        e.preventDefault()   
        console.log(e.target.value);
        $.ajax({
            url: '/user/<%= current_user.id %>/update_language_skill',
            method: "POST",
            dataType: "JSON",
            data: {programming_level: 'ruby intermediate'},
            success: (result) => {
                console.log(result)
                $('.ruby-intermediate').addClass('active');
                $('.ruby-beginner').removeClass('active');
                $('.ruby').addClass('active');
            }
        })
    })
    // –––––––––––– Javascript –––––––––––––
        $(".js-beginner").click((e) => {
        e.preventDefault()
        console.log(e.target.value);
        $.ajax({
            url: '/user/<%= current_user.id %>/update_language_skill',
            method: "POST",
            dataType: "JSON",
            data: {programming_level: 'js beginner'},
            success: (result) => {
                console.log(result)
                $('.js-beginner').addClass('active');
                $('.js-intermediate').removeClass('active');
                $('.js').addClass('active');
            }
        })
    })
    $(".js-intermediate").click((e) => {
        e.preventDefault()   
        console.log(e.target.value);
        $.ajax({
            url: '/user/<%= current_user.id %>/update_language_skill',
            method: "POST",
            dataType: "JSON",
            data: {programming_level: 'js intermediate'},
            success: (result) => {
                console.log(result)
                $('.js-intermediate').addClass('active');
                $('.js-beginner').removeClass('active');
                $('.js').addClass('active');
            }
        })
    })
})
</script>
<script>
// ––––––––––––– AJAX to set users developer_type –––––––––––––
$(document).ready(function() {
    $(".front-end").click((e) => {
        e.preventDefault()
        $.ajax({
            url: '/user/<%= current_user.id %>/update_developer_type',
            method: "POST",
            dataType: "JSON",
            data: {developer_type: "front end"},
            success: (result) => {
                console.log(result)
                $(".front-end").addClass('active');
                $(".front-end").attr('disabled', 'disabled');
            }
        })
    })

    $(".back-end").click((e) => {
        e.preventDefault()
        $.ajax({
            url: '/user/<%= current_user.id %>/update_developer_type',
            method: "POST",
            dataType: "JSON",
            data: {developer_type: "back end"},
            success: (result) => {
                console.log(result)
                $(".back-end").addClass('active');
                $(".back-end").attr('disabled', 'disabled');
            }
        })
    })
})
</script>
<script>
// ––––––––––––– AJAX to set users current interest –––––––––––––
$(document).ready(function(){
    $(".pgw").click((e) => {
        e.preventDefault()
        $.ajax({
            url: '/user/<%= current_user.id %>/update_current_interest',
            method: "POST",
            dataType: "JSON",
            data: {current_interest: "progressive web apps"},
            success: (result) => {
                console.log(result)
                $(".pgw").addClass('active');
            }
        })
    })
    $(".chatbot").click((e) => {
        e.preventDefault()
        $.ajax({
            url: '/user/<%= current_user.id %>/update_current_interest',
            method: "POST",
            dataType: "JSON",
            data: {current_interest: "chatbot"},
            success: (result) => {
                console.log(result)
                $(".chatbot").addClass('active');
            }
        })
    })
})
</script>