
<div id="edit-container">
    <div class="edit-info-container">
    <%= image_tag current_user.avatar.show.url, class: 'avatar mb-3' %>
    <h1>Profile</h1>
    <%= form_with model: @user, local: true do |form| %>
        <%= render partial: '/users/edit_info', object: form %>
        <%= form.label :programming_level %>
        <div class="submit-field">
            <%= form.submit class: 'btn btn-outline-primary'%>
        </div>
        <% end %>
    </div>

    <div class="edit-preferences-container">
    <h1>Preferences</h1>
    <%= form_with model: @user, local: true do |form| %>
        <%= render partial: '/users/preferences', object: form %>
    <% end %>
    </div>
</div>

<script>
// ––––––––––––– AJAX to set users programming_level ––––––––––––––––
$(document).ready(function(){
    $("#beginner").click((e) => {
        e.preventDefault()
        $.ajax({
            url: '/user/<%= current_user.id %>/programming_level',
            method: "POST",
            dataType: "JSON",
            data: {programming_level: 0},
            success: (result) => {
                console.log(result)
                $('#beginner').addClass('active');
                $('#intermediate').removeClass('active');
            }
        })
    })
    $("#intermediate").click((e) => {
        e.preventDefault()   
        $.ajax({
            url: "/user/<%= current_user.id %>/programming_level",
            method: "POST",
            dataType: "JSON",
            data: {programming_level: 1},
            success: (data) => {
                console.log(data)
                $('#intermediate').addClass('active');
                $('#beginner').removeClass('active');
            }
        })
    })
})
</script>