<div id="edit-container">
    <div class="edit-info-container">

        <div class="form-row w-100 m-0 p-0">
            <div class="col p-3">
                <div class="d-flex justify-content-center">
                    <%= image_tag current_user.avatar.show.url, class: ' mb-3 border border-danger rounded-circle' %>
                </div>
                <h3 class="text-center"><span style="font-weight: bold;"><%= @user.first_name%>'s </span> information</h3>
                    <%= form_with model: @user,class: :"w-100 p-2", local: true do |form| %>
                        <%= render partial: '/users/edit_info', object: form %>
                        <div class="submit-field d-flex justify-content-center">
                            <%= form.submit class: 'btn btn-danger bg-mutted'%>
                        </div>
                    <% end %>
            </div>
            <div class="col p-3">
                <div class="edit-preferences-container">
                    <h3 class="text-center">Preferences</h3>
                    <%= form_with model: @user, local: true do |form| %>
                        <%= render partial: '/users/preferences', object: form %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
// ––––––––––––– AJAX to set users programming_level –––––––––––––
$(document).ready(function(){
    // –––––––––––– Ruby –––––––––––––-
    $(".ruby-beginner").click((e) => {
        e.preventDefault()
        console.log(e.target.value);
        $.ajax({
            url: '/user/<%= current_user.id %>/update_language_skill',
            method: "POST",
            dataType: "JSON",
            data: {programming_level: 'ruby beginner'},
            success: (result) => {
                console.log(result)
                $('.ruby-beginner').addClass('active');
                $('.ruby-intermediate').removeClass('active');
            }
        })
    })
    $(".ruby-intermediate").click((e) => {
        e.preventDefault()   
        console.log(e.target.value);
        $.ajax({
            url: '/user/<%= current_user.id %>/update_language_skill',
            method: "POST",
            dataType: "JSON",
            data: {programming_level: 'ruby intermediate'},
            success: (result) => {
                console.log(result)
                $('.ruby-intermediate').addClass('active');
                $('.ruby-beginner').removeClass('active');
            }
        })
    })
    $(".ruby-clear").click((e) => {
        e.preventDefault()
        console.log(e.target.value);
        $.ajax({
            url: '/user/<%= current_user.id %>/update_language_skill',
            method: "POST",
            dataType: "JSON",
            data: {programming_level: 'ruby clear'},
            success: (result) => {
                console.log(result)
                $('.ruby-intermediate').removeClass('active');
                $('.ruby-beginner').removeClass('active');
            }
        })
    })
    // –––––––––––– Javascript –––––––––––––
        $(".javascript-beginner").click((e) => {
        e.preventDefault()
        console.log(e.target.value);
        $.ajax({
            url: '/user/<%= current_user.id %>/update_language_skill',
            method: "POST",
            dataType: "JSON",
            data: {programming_level: 'javascript beginner'},
            success: (result) => {
                console.log(result)
                $('.javascript-beginner').addClass('active');
                $('.javascript-intermediate').removeClass('active');
            }
        })
    })
    $(".javascript-intermediate").click((e) => {
        e.preventDefault()   
        console.log(e.target.value);
        $.ajax({
            url: '/user/<%= current_user.id %>/update_language_skill',
            method: "POST",
            dataType: "JSON",
            data: {programming_level: 'javascript intermediate'},
            success: (result) => {
                console.log(result)
                $('.javascript-intermediate').addClass('active');
                $('.javascript-beginner').removeClass('active');
            }
        })
    })
    $(".javascript-clear").click((e) => {
        e.preventDefault()
        console.log(e.target.value);
        $.ajax({
            url: '/user/<%= current_user.id %>/update_language_skill',
            method: "POST",
            dataType: "JSON",
            data: {programming_level: 'javascript clear'},
            success: (result) => {
                console.log(result)
                $('.javascript-intermediate').removeClass('active');
                $('.javascript-beginner').removeClass('active');
            }
        })
    })
    // –––––––––––– Python –––––––––––––
    $(".python-beginner").click((e) => {
        e.preventDefault()
        console.log(e.target.value);
        $.ajax({
            url: '/user/<%= current_user.id %>/update_language_skill',
            method: "POST",
            dataType: "JSON",
            data: {programming_level: 'python beginner'},
            success: (result) => {
                console.log(result)
                $('.python-beginner').addClass('active');
                $('.python-intermediate').removeClass('active');
            }
        })
    })
    $(".python-intermediate").click((e) => {
        e.preventDefault()   
        console.log(e.target.value);
        $.ajax({
            url: '/user/<%= current_user.id %>/update_language_skill',
            method: "POST",
            dataType: "JSON",
            data: {programming_level: 'python intermediate'},
            success: (result) => {
                console.log(result)
                $('.python-intermediate').addClass('active');
                $('.python-beginner').removeClass('active');
            }
        })
    })
    $(".python-clear").click((e) => {
        e.preventDefault()
        console.log(e.target.value);
        $.ajax({
            url: '/user/<%= current_user.id %>/update_language_skill',
            method: "POST",
            dataType: "JSON",
            data: {programming_level: 'python clear'},
            success: (result) => {
                console.log(result)
                $('.python-intermediate').removeClass('active');
                $('.python-beginner').removeClass('active');
            }
        })
    })
})
</script>
<script>
// ––––––––––––– AJAX to set users developer_type –––––––––––––
// Front End
$(document).ready(function() {
    $(".front-end").click((e) => {
        e.preventDefault()
        $.ajax({
            url: '/user/<%= current_user.id %>/update_developer_type',
            method: "POST",
            dataType: "JSON",
            data: {developer_type: "front end"},
            success: (result) => {
                console.log(result)
                if ($(".front-end").hasClass('active')) {
                    $(".front-end").removeClass('active');
                } else {
                    $(".front-end").addClass('active');
                }
            }
        })
    })
// Back End 
    $(".back-end").click((e) => {
        e.preventDefault()
        $.ajax({
            url: '/user/<%= current_user.id %>/update_developer_type',
            method: "POST",
            dataType: "JSON",
            data: {developer_type: "back end"},
            success: (result) => {
                console.log(result)
                if ($(".back-end").hasClass('active')) {
                    $(".back-end").removeClass('active');
                } else {
                    $(".back-end").addClass('active');
                }
            }
        })
    })
// Full Stack
    $(".full-stack").click((e) => {
        e.preventDefault()
        $.ajax({
            url: '/user/<%= current_user.id %>/update_developer_type',
            method: "POST",
            dataType: "JSON",
            data: {developer_type: "full stack"},
            success: (result) => {
                console.log(result)
                if ($(".full-stack").hasClass('active')) {
                    $(".full-stack").removeClass('active');
                } else {
                    $(".full-stack").addClass('active');
                }            
            }
        })
    })
// Mobile End
    $(".mobile").click((e) => {
        e.preventDefault()
        $.ajax({
            url: '/user/<%= current_user.id %>/update_developer_type',
            method: "POST",
            dataType: "JSON",
            data: {developer_type: "mobile"},
            success: (result) => {
                console.log(result)
                if ($(".mobile").hasClass('active')) {
                    $(".mobile").removeClass('active');
                } else {
                    
                    $(".mobile").addClass('active');
                }
            }
        })
    })
})
</script>
<script>
// ––––––––––––– AJAX to set users current interest –––––––––––––
// Progressive Web Apps
$(document).ready(function() {
    $(".pgw").click((e) => {
        e.preventDefault()
        $.ajax({
            url: '/user/<%= current_user.id %>/update_current_interest',
            method: "POST",
            dataType: "JSON",
            data: {interest: "progressive web apps"},
            success: (result) => {
                console.log(result)
                if ($(".pgw").hasClass('active')) {
                    $(".pgw").removeClass('active');
                } else {
                    $(".pgw").addClass('active');
                }
            }
        })
    })
// Chatbot 
    $(".chatbot").click((e) => {
        e.preventDefault()
        $.ajax({
            url: '/user/<%= current_user.id %>/update_current_interest',
            method: "POST",
            dataType: "JSON",
            data: {interest: "chatbot"},
            success: (result) => {
                console.log(result)
                if ($(".chatbot").hasClass('active')) {
                    $(".chatbot").removeClass('active');
                } else {
                    $(".chatbot").addClass('active');
                }
            }
        })
    })
// Cybersecurity
    $(".cybersecurity").click((e) => {
        e.preventDefault()
        $.ajax({
            url: '/user/<%= current_user.id %>/update_current_interest',
            method: "POST",
            dataType: "JSON",
            data: {interest: "cybersecurity"},
            success: (result) => {
                console.log(result)
                if ($(".cybersecurity").hasClass('active')) {
                    $(".cybersecurity").removeClass('active');
                } else {
                    $(".cybersecurity").addClass('active');
                }            
            }
        })
    })
// Motion UI
    $(".motionui").click((e) => {
        e.preventDefault()
        $.ajax({
            url: '/user/<%= current_user.id %>/update_current_interest',
            method: "POST",
            dataType: "JSON",
            data: {interest: "motionui"},
            success: (result) => {
                console.log(result)
                if ($(".motionui").hasClass('active')) {
                    $(".motionui").removeClass('active');
                } else {
                    $(".motionui").addClass('active');
                }
            }
        })
    })
})
</script>