<h1>Bento</h1>

<% if !signed_in? %>
  <div id="clearance" class="sign-in">
    <h2>Login</h2>

    <%= render partial: 'login' %>

  </div>

  <div id="clearance" class="sign-up">
    <h2>Sign Up</h2>

    <%= form_for @user do |form| %>
      <%= render partial: 'form', object: form %>

      <div class="submit-field">
        <%= form.submit class:'btn btn-outline-primary' %>
      </div>
    <% end %>
  </div>
  
  <%= link_to "/auth/github" do %>
      <%= image_tag "github", class:"linkImg" %>
  <% end %>

  <br><%= link_to "/auth/google_oauth2" do %>
      <%= image_tag "google", class:"linkImg" %>
  <% end %>


<% end %>


