<!DOCTYPE html>
<html>
  <head>
    <%# meta tags from bootstrap %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bento</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# bootstrap css %>
    <%= favicon_link_tag asset_path('bento-box.png') %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <%# JS from bootstrap and jQuery CDN %>
    <%# jQuery must come first! %>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <div class="container">
            <div class="split left">
              <!-- <h1 class="welcome">Welcome to Bento</h1> -->
                <div class="col-xs-6 col-md-6 d-flex flex-column justify-content-center align-items-center mt-4" id="leftbox" >
                    <div id="clearance" class="sign-in">
                      <%= render partial: 'login' %>
                    </div>
                    <div class="d-flex justify-content-center flex-column position-absolut mod-left">
                      <button  class="glow bg-transparent border-0 " data-toggle="modal" data-target="#exampleModal" >
                        <h3>
                          <%= image_tag "bento-box.png", style: 'width:10%' %> Log In to Bento
                        </h3>
                      </button>
                      <%= link_to "/auth/github" do %>
                        <div class="glow bg-transparent border-0 " >
                          <h3>
                            <img style="width:10%;" src="https://cdn.iconscout.com/icon/free/png-256/github-88-437389.png" class=""> Sign in with Github
                          </h3>
                        </div>
                      <% end %>
                      <%= link_to "/auth/google_oauth2" do %>
                        <div class="glow bg-transparent border-0" >
                          <h3>
                            <img style="width:10%;" src="https://www.appythings.nl/wp-content/uploads/2018/06/google-logo-icon-PNG-Transparent-Background.png" class=""> Sign in with Google
                          </h3>
                        </div>
                      <% end %>
                      <hr>
                      <h2 class="d-flex justify-content-center text-white" >Don't have an account?</h2>
                      <h3>
                        <form action="/sign_up">
                          <input type="submit" value="Sign up with Bento" class="glow bg-transparent border-0 w3-block ">
                        </form>
                      </h3>
                    </div>
                </div>
              </div>
        <h1 class="welcome shine"> Welcome to BENTO</h1>
              <div class="split right">
                <!-- <h1 class="welcome">This is BENTO</h1> -->
                  <div id="rightbox" class="col-xs-6 col-md-6 d-flex flex-column justify-content-center align-items-center" >
                    <img src="https://i.imgur.com/lFMy1xz.png" style="width:50%" class="">
                    <%= link_to about_bento_path do %>
                      <%#= image_tag "bento-box.png", style: 'width:50%' %>
                      <div class="glow bg-transparent border-0 mt-4" >
                        <h3>
                          About
                        </h3>
                      </div>
                    <% end %>
                  </div>
              </div>
      </div>
    <script type="text/javascript">
    $(document).ready(function() {
      const left = document.querySelector(".left");
      const modLeft = document.querySelector(".mod-left");
      const right = document.querySelector(".right");
      const container = document.querySelector(".container");
      left.addEventListener("mouseenter", () => {
        container.classList.add("hover-left");
      });
      left.addEventListener("mouseleave", () => {
        container.classList.remove("hover-left");
      });
      right.addEventListener("mouseenter", () => {
        container.classList.add("hover-right");
        modLeft.classList.add('left-change');
      });
      right.addEventListener("mouseleave", () => {
        container.classList.remove("hover-right");
        modLeft.classList.remove('left-change');
      });
    });
    </script>
  </body>
</html>