<div class=" d-flex justify-content-center">
 <%= paginate @feeds, remote: true %>
</div>
<% @feeds.each do |feed| %>
  <% count = feed.week %>
    <div class="container text-center">
      <h3 class="p-2">Week <%= count %></h3>
      <div class="d-inline-flex flex-wrap justify-content-center">
        <% if feed.article %>
          <div class="card rounded shadow-lg m-2" style="width: 14.5rem;">
            <div class="card-body d-flex justify-content-between flex-column align-items-center">
              <h5 class="card-title mb-2">Article</h5>
                <div class="container-image d-flex align-items-center" style="height: 9rem; overflow:hidden;">
                  <img src="<%= feed.article.image %>" class="image card-img-top" >
                  </div>
                <p class="card-text mt-2 d-flex align-items-center" style="height: 5rem;"><%= feed.article.title %></p>
                <a href="<%= feed.article.link %>" data-check="card-first<%= count %>" target="_blank" class="card-link btn btn-primary w-80">Go to Article</a>
                <img src="https://previews.123rf.com/images/johan2011/johan20111309/johan2011130900007/21934213-ok-the-dude-giving-thumb-up-next-to-a-check-mark-blue.jpg" width="30" height="30" id="card-first<%= count %>"class="check d-none mt-2">
            </div>
          </div>
        <% end %>
        <% if feed.podcast %>
          <div class="card rounded shadow-lg m-2" style="width: 14.5rem;">
            <div class="card-body d-flex justify-content-between flex-column align-items-center">
              <h5 class="card-title mb-2">Podcast</h5>
              <div class="container-image d-flex align-items-center" style="height: 9rem; overflow:hidden;">
                <img src="<%= feed.podcast.images %>" class="image card-img-top" alt="...">
              </div>
              <p class="card-text mt-2 d-flex align-items-center" style="height: 5rem;"><%= feed.podcast.creator %></p>
              <a href="<%= feed.podcast.link %>" data-check="card-second<%= count %>" target="_blank" class="card-link btn btn-primary w-80">Go to Podcast</a>
              <img src="https://previews.123rf.com/images/johan2011/johan20111309/johan2011130900007/21934213-ok-the-dude-giving-thumb-up-next-to-a-check-mark-blue.jpg" width="30" height="30" id="card-second<%= count %>"class="check d-none  mt-2">
            </div>
          </div>
        <% end %>
        <% if feed.video %>
          <div class="card rounded shadow-lg m-2" style="width: 14.5rem;">
            <div class="card-body d-flex justify-content-between flex-column align-items-center">
              <h5 class="card-title">Video</h5>
              <iframe width="180rem" src="<%= feed.video.url.gsub(/watch\?v=/, 'embed/') %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <p class="card-text mt-2  d-flex align-items-center" style="height: 5rem; overflow:hidden;"><%= feed.video.title %></p>
              <a href="<%= feed.video.url %>" data-check="card-third<%= count %>" target="_blank" class="card-link btn btn-primary w-80">Go to Tutorial</a>
              <img src="https://previews.123rf.com/images/johan2011/johan20111309/johan2011130900007/21934213-ok-the-dude-giving-thumb-up-next-to-a-check-mark-blue.jpg" width="30" height="30" id="card-third<%= count %>" class="check d-none  mt-2">
            </div>
          </div>
        <% end %>
      <% if feed.project %>
        <div class="card rounded shadow-lg m-2" style="width: 14.5rem;">
          <div class="card-body d-flex justify-content-between flex-column align-items-center">
            <h5 class="card-title">Project</h5>
            <img src="https://c10.patreonusercontent.com/3/eyJ3Ijo0MDB9/patreon-media/p/reward/2405863/34751822ea764582b281025eb818ea47/1?token-time=2145916800&token-hash=jRgeu052RAcUd-v33db60Wt4HmE2fGy0l4V7p-gyCSM%3D" class="image card-img-top" alt="...">
            <p class="card-text mt-2  d-flex align-items-center" style="height: 5rem; overflow:hidden;"><%= feed.project.title %></p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary w-80" data-toggle="modal" data-target="#modal<%= count %>" >
              Go to Challenge
            </button>
            <!-- Modal -->
            <div class="modal fade" id="modal<%= count %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header d-flex justify-content-center">
                    <h5 class="modal-title" id="exampleModalLabel"><%= feed.project.title %></h5>
                  </div>
                  <div class="modal-body">
                    <p class="m-0"><%= feed.project.description %></p>
                  </div>
                  <div class="modal-footer p-2">
                    <button type="button" class="btn btn-outline-primary w-25 card-link" data-dismiss="modal" data-check="card-last<%= count %>">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <img src="https://previews.123rf.com/images/johan2011/johan20111309/johan2011130900007/21934213-ok-the-dude-giving-thumb-up-next-to-a-check-mark-blue.jpg" width="30" height="30" id="card-last<%= count %>" class="check d-none mt-2">
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <% if feed != @feeds.last %>
  <hr>
  <% end %>
<% end %>
<div class="my-4 d-flex justify-content-center">
 <%= paginate @feeds, remote: true %>
</div>