<nav class="navbar navbar-expand-lg navbar-dark" >
  <div class="container">
    <a class="navbar-brand bg-secondary p-1 rounded-circle" href="<%= root_path %>">
      <%= image_tag("bento-box.png", size: "38") %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class:'nav-link' %>
        </li>



        <% if signed_in? %>
          <li class="nav-item">
            <%= link_to 'Dashboard', user_dashboard_path(current_user.id), class:'nav-link' %>
          </li>
        <% end %>


      </ul>

      <ul class="navbar-nav">
        <% if signed_in? %>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag current_user.avatar.thumb.url, class: 'avatar navbar-brand' %>
            <%= current_user.full_name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">

            <%= link_to 'Edit Profile', edit_user_path(current_user.id), class:'dropdown-item' %>
          <div class="dropdown-divider"></div>
            <%= link_to 'Sign Out', sign_out_path, class:'dropdown-item', method: :delete %>
          </div>
          <% else %>
          <li class="nav-item nav-link">



            <%= image_tag 'fallback/thumb_default.png', class: 'avatar navbar-brand' %>

            Guest
          </li>
        <% end %>
      </li>
      </ul>
    </div>
  </div>
</nav>